name: Sync Xiaomi S400 to Garmin

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with: { go-version: '1.24' }

      - name: Run Sync
        env:
          # Aquí cargamos tus Secrets como variables de entorno
          XIAOMI_USER: ${{ secrets.XIAOMI_USER }}
          XIAOMI_PASS: ${{ secrets.XIAOMI_PASS }}
          GARMIN_USER: ${{ secrets.GARMIN_USER }}
          GARMIN_PASS: ${{ secrets.GARMIN_PASS }}
        run: |
          # El programa scaleconnect detecta automáticamente las 
          # variables $ que pusimos en el config.yaml
          go run main.go --config config.yaml
